<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>OCR服务</title>
</head>
<body>

<div align="center">
    <h3>OCR服务</h3>

    <form action="upload" method="post" enctype="multipart/form-data">
        <input name="file" type="file"  accept=".pdf,.jpg,.png"/>
        <button>解析</button>
    </form>


    <footer style="position: fixed;bottom: 0; left: 0;right: 0; text-align: center">
         {% for key, value in info.items() %}
            <span style="margin: 16px">{{ key }}: {{ value }}</span>
        {% endfor %}
    </footer>

</div>






</body>
</html>
